doctype html
html(lang='en')
  head
    title Process Communications FTW!
  body
    #messages
      h2 Incoming Messages Host:Port
      p #{ip}:12345
      h2 Messages
      ul#content
    script(src='/app.js', type='text/javascript')
